<h1>Héroes <small>Marvel y DC</small></h1>
<hr>


<div class="card-columns">

<app-heroe-tarjeta (heroeSeleccionado)="verHeroe( $event )" [heroe]="foo" [index]="i"  *ngFor="let foo of heroes; let i = index"></app-heroe-tarjeta>

  <!-- <div class="card animated fadeIn fast" *ngFor="let heroe of heroes; let i = index">
    <img class="card-img-top" [src]="heroe.img" [alt]="heroe.nombre">
    <div class="card-body">
      <h5 class="card-title">{{ heroe.nombre }}</h5>
      <p class="card-text">{{ heroe.bio }}</p>
      <p class="card-text"><small class="text-muted">{{ heroe.aparicion |  date:'dd/MM/yyyy' }}</small></p>

      <a [routerLink]="['/heroe',i]" class="btn btn-outline-primary btn-block">Ver heroe...</a>

    </div>
  </div> -->

</div>
