<div class="card bg-light mb-3 animated fadeIn fast">
        
    <div class="row">
        <div class="col-md-5 col-sm-5 m-b-15">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <img class="img-fluid m-b-15" [src]="hero.img" [alt]="hero.nombre" />
                    <button class="btn btn-outline-danger btn-block m-l-15"
                    [routerLink]="['/heroes']" >Volver</button>
                </div>
            </div>
        </div>
        <div class="col-md-7 col-sm-7">
            <div class="card-body">
                <h1 class="card-title animated fadeIn">
                    {{ hero.nombre | uppercase }}
                    <small class="h5">( {{ hero.aparicion |  date:'yyyy' }} )</small>
                </h1>
                    
                
                <hr />
                <p class="card-text animated fadeIn">{{ hero.bio }}</p>

                <button type="button" class="btn btn-dark animated fadeIn">
                    Primera aparicion: <span class="badge badge-success">{{ hero.aparicion |  date:'longDate' }}</span>
                </button>
            </div>

            <div *ngIf="hero.casa == 'Marvel'">
                <img class="img-logo animated fadeIn" src="../../../assets/img/marvel-folder.png" [alt]="hero.casa" />
            </div>

            <div *ngIf="hero.casa == 'DC'">
                <img class="img-logo animated fadeIn" src="../../../assets/img/dc-folder.png" [alt]="hero.casa" />
            </div>
            
        </div>
  </div>
</div>